{% extends 'base.html' %}
{% load article_tags %}

{% block content %}
<div class="starter-template">

  <h1>{{ article.title|reverse_text }}</h1>
  <p>{{ article.short_description }}</p>
  <p>Created on {{ article.created|date:"Y-m-d H:i:s" }} by {{ article.created_by.email }}</p>
  {% if article.thumbnail %}
  <p>
    <img src="{{ MEDIA_URL }}{{ article.thumbnail }}" />
  </p>
  {% endif %}

  <a href="{% url 'list-articles' %}">Back to articles</a>
</div>
{% endblock content %}