{% extends 'base.html' %}

{% block content %}
<div class="starter-template">

  <h1>Articles</h1>

  <table class="table table-striped">
    <tr>
      <th>Title</th>
      <th>Created</th>
      <th>Created by</th>
      <th>Published</th>
      <th>Actions</th>
    </tr>

    {% for article in articles %}
    <tr>
      <td>{{article.title}}</td>
      <td>{{article.created}}</td>
      <td>{{article.created_by.email}}</td>
      <td>{% if article.published %}Yes{% else %}No{% endif %}</td>
      <td>
        <a href="{% url 'detail-article' slug=article.slug %}" class="btn btn-primary">View</a>
        <a href="{% url 'update-article' pk=article.id %}" class="btn btn-warning">Edit</a>
        <a href="" class="btn btn-danger">Delete</a>
      </td>
    </tr>
  {% endfor %}

  </table>

  <p>
    Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{page_obj.paginator.count}}. Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}.
  </p>
  {% if page_obj.has_previous %}
  <a href="{% url 'list-articles' %}?page={{page_obj.previous_page_number}}">Previous</a>
  {% endif %}
  {% if page_obj.has_next %}
  <a href="{% url 'list-articles' %}?page={{page_obj.next_page_number}}">Next</a>
  {% endif %}

  <a href="{% url 'create-article' %}" class="btn btn-success">Create</a>

</div>

{% endblock content %}