{% extends 'base.html' %}

{% block content %}
<div class="starter-template">

  <h1>Update article</h1>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
  </form>


  <a href="{% url 'list-articles' %}">Back to articles</a>
</div>
{% endblock content %}